
@media screen and (min-width: 992px) {
    .navMenu {
        height: 40px;
        line-height: 36px;
        width: 100%;
        /* CSS 3 
        background-image: linear-gradient(bottom, rgb(170,170,170) 11%, rgb(238,238,238) 77%);
        background-image: -o-linear-gradient(bottom, rgb(170,170,170) 11%, rgb(238,238,238) 77%);
        background-image: -moz-linear-gradient(bottom, rgb(170,170,170) 11%, rgb(238,238,238) 77%);
        background-image: -webkit-linear-gradient(bottom, rgb(170,170,170) 11%, rgb(238,238,238) 77%);
        background-image: -ms-linear-gradient(bottom, rgb(170,170,170) 11%, rgb(238,238,238) 77%);
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.11, rgb(170,170,170)), color-stop(0.77, rgb(238,238,238)) );*/
        border-radius: 5px;
    }

    .navMenu ul{
            padding: 0;
            list-style: none;
    }
    .navMenu ul li{
            float: left;
            width: 100px;
            text-align: center;
            line-height: 21px;
            width: 18%;
    }
    .navMenu ul li .nav-links{
            display: block;
            padding: 5px 10px;
            color: #333;
            /* background: #f2f2f2; */
            text-decoration: none;        
            font-size: 13px;
            font-weight: bold;
            border-bottom: 2px solid rgb(200,200,200);        
    }
    .navMenu ul li .nav-links:hover{        
            border-bottom: 2px solid rgb(32,32,32) ;
        }
    .navMenu ul li ul{
            display: none;
    }
    .navMenu ul li:hover ul{
            display: block; /* display the dropdown */
    }

    .navMenu input {
        background: url(http://cssdeck.com/uploads/media/items/4/4yK4Jqj.jpg) 5px center no-repeat #FFF;
        border: 1px solid #AAA;
        color: #666;
        float: right;
        font-size: 12px;
        /* margin: 7px 32px 0 0; */
        opacity: 0.6;
        outline: none;
        padding-left:  20px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-bottom-width: 1px;
        border-top-width: 1px;
        height: 30px;
        width: 0px;
        /* CSS3 */
        border-radius: 25px;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .navMenu input:hover { opacity: 1 }

    .navMenu input:focus {
        opacity: 1;
        width: 165px;
        height: 35px;
        border-radius: 10px;
    }

    .navMenu input:focus ~ ul li { width: 12%; }

    .vn-sub {
        position: fixed;    
        left: 0px;
        width: 100%;
        height: 420px;
        background-color: #FFF;

    }

    .sub-image {
        /* width: 352px; */
        /* height: 252px; */
        /* background-color: red; */
        margin-top: 30px;
        /* border: 1px solid rgb(152,153,154); */
        margin-left: auto;
        margin-right: auto;
    }

    .sub-title {
        margin-top: 10px;
        height: 80px;    
        padding-top: 5px;
        color: rgb(64,64,65);
        font-weight: bold;
    }

    .sub-info {
        text-align: left;    
        height: 195px;
    }

    .vn-sub-title{    
        font-weight: bold;
        font-size: 16px;
    }

    .vn-sub-icons{
        font-size: 15px;
        margin-top: 7px;
    }

    .nav-sub-links {
     color: rgb(64,64,65);   
    }

    .nav-sub-links:hover {
        text-decoration: none;
        font-weight: bold;
    }
}

