/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2015, 11:59:59 PM
    Author     : John Chuong
*/

@media screen and (min-width: 768px) and (max-width: 991px)
{    
    .straight-full{
        border-bottom: 1px solid #a8a8a8;
    }
    
    .vn-symbol {
        font-size: 13px;
        float: left;                
        color: #a8a8a8;
        display: inline;
        margin-left: px;
        margin-right: 3px;
    }
    .container-non-responsive {
      /* Margin/padding copied from Bootstrap */
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;

      /* Set width to your desired site width */
      min-width: 768px;
      width: 100%;
      max-width: 1170px;
    }    
    .cd-top {
          right: 20px;
          bottom: 20px;
        }    
    .vn-cas-header {
        background-color: #00478C;
        height: 30px;
        padding: 0px;
        font-size: 13px;
    }
    .header-phonenumber{
        padding: 5px 0px 5px 15px;    
        color: white;
        text-align: left;
        /* width: 22%; */
    }
    .header-info {
        padding: 8px 0px 3px 0px;
        color: rgb(255,255,255);
        text-align: center;
        font-size: 11px;
        /* width: 43%; */
    }
    
    .header-links {
        margin-top: 8px; 
        padding-left: 0px;
        text-align: right;
        /* width: 31%; */
    }
    .header-links a {    
        color: white;
        text-decoration: none;
        font-size: 11px;
    }

    .header-links a:hover { 
        //font-weight: bold;
        color: rgb(255,255,255);
    }
    
    .vn-cas-logo {        
    }
    
    .logo {
        margin-left: auto;
        margin-right: auto;
        width: 344px;
    }
    
    .vn-cas-nav {
        height: 50px;
        position: absolute;
        background-color: white;
        width: 100%;
        z-index: 16;        
    
        border-bottom: 1px solid rgb(203,203,203);
}   
    .vn-choise-box {
        width: 100%;
        height: 210px;
        border: 2px solid #ebebeb;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    
    .vn-pic-title {
        position: absolute;
        background-color: rgba(255,255,255,0.5);
        bottom: 0px;                         
        padding-top: 10px;        
        margin-left: auto;
        margin-right: auto;
        width: 98%;    
    }

    .vn-pic-title p {
        text-align: center;
        font-size: 18px;    
    }
    
    .vn-sanpham-size {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .vn-index-sanpham {
       margin-top: 10px; 
    }        
    
    .fixed {
        position:fixed;
        top:0;
        z-index: 1000;
    }
    /* end menu */
    .vn-dichvu {
        text-align: center;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        margin-bottom: 30px;
    }
    
    .vn-dichvu-title {
        font-size: 20px;
        margin: 20px 0px;
        /* font-weight: bold; */
        text-align: center;
    }
    
    .vn-dichvu-btn {
        width: 110px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .vn-cas-footer {
        background-color: rgb(231,231,232);
        margin-top: 20px;
    }

    .footer-email {
        background-color: rgb(231,231,232);
        height: 150px;
    }    
    
    .title-email {
        margin-top: 30px;
        text-align: center;
        font-size: 25px;
    }
    
    .form-email {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        height: 35px;
        width: 501px;
        background-image: url("../img/form-email.png");
    }
    
    .footer-center {
        background-color: rgb(136,136,136);
        height: 390px;
    }
    
    .vn-ft-links{
        margin-bottom: 20px;
        font-size: 13px;        
        color: rgb(255,255,255);

    }

    .vn-ft-links:hover {
        color: rgb(82,82,82);
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
    }
    
    .footer-center li {
        list-style:none;
        margin-bottom: 10px;
        font-size: 14px;         
    }
    
    .footer-bottom {
        background-color: rgb(136,136,136);
        height: 120px;
    }
    
    .copyright {
        position: absolute;
        right: 15px;        
        top: 20px;
        width: 90px;
        height: 60px;
    }
    
    .footer-center ul {
        padding-left: 0px;
    }
    
    vn-xs-3 {
        width: 15%;
    }
    
    .vn-icon:hover{
        text-decoration: none;
    }
    
    .footer-center-img {
        margin-right: 12px;
        margin-top: 15px;
        height: 36px;
        width: 34px;    
    }
    
    header.carousel {
        height: 341px;
    }
    .footer-center-img-tt {
          height: 30px;
          width: 60px;
          margin-right: 10px;
      }
    .logo-thanhtoan {
          width: 300px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 40px;
    }
    .p-edit-1 {
          margin-bottom: 8px;          
          font-size: 13px;
    }
    .edit-left-7_5 {
          padding-left: 7.5px;
    }
    .edit-right-7_5 {
          padding-right: 7.5px;
    }
    .vn-sanpham-box {
        width: 175px;
        height: 117px;
        margin-bottom: 15px;
        border: 2px solid #ebebeb;
    }
    
    .vn-sanpham-box:hover {
        border: 2px solid #BEBEBE;
    }
    
    .email-button {
        position: absolute;        
        right: 0px;
        height: 35px;
        width: 97px;
        background-color: rgba(0,0,0,0);
        border: none;
    }
    
    .edit-768{
        margin-left: -30px;
    
        padding-right: 0px;
}
    /* San pham */
      
      .content {
          margin-top: 0px;
      }
      
      .sanpham-header {
          color: black;
          margin-bottom: 20px;
          margin-top: 15px;
      }
      
      .product-right
      {
          font-size: 12px;
          color: #4C4A4A;
      }
      
      .product-right .title {
        padding-bottom: 20px;
          
      }
      
      .product-list {
          list-style: none;
          border-top: rgb(203,203,203) solid 1px;
          padding-left: 0px;
      
          padding-top: 10px;
          margin-top: 10px;
}
      
      .product-list1{
          height: 150px;
          overflow:hidden; 
          overflow-y:scroll;
          list-style: none;      
          padding-left: 0px;
}
        .product-list2{
          font-size: 13px;
          height:150px;
          overflow:hidden; 
          overflow-y:scroll;
          list-style: none;      
          padding-left: 0px;
        }
      .straight-product{
           border-top: rgb(203,203,203) solid 1px;
       
           margin-top: 10px;
           margin-bottom: 10px;
}   
      .product-list ul {
          list-style: none;
      }
      
      .product-list ul{
          display: none;
      }
      
      .product-list ul ul{
          display: none;
      }
      
      .product-title {
          font-size: 11px;
      }
      
      .product-title:hover {
          font-weight: bold;
          font-size: 12px;
          color: black;
      }
      
      .product-title:hover .product-list-sub {
          display: block;
          font-weight: normal;
          font-size: 14px;
      }
      
      .product-title-sub:hover {
          font-weight: bold;
          font-size: 13px;
          color: black;
      }
      
      .product-title-sub:hover .product{
          display: block;
      }
      
      .product-links {
          color: #4C4A4A;
      }
      
      .product-links:hover {
          text-decoration: none;
          font-weight: bold;
          /* color: black; */
      }
      
      .product-quanao {
          text-align: center;
          border: rgb(203,203,203) solid 1px;        
      
          padding: 5px 8px;
          margin-right: 5px;          
      }
      
      /* Product detail */
      .product-detail-box {
          height: 350px;
          width: 100%;
      }
      
      .vn-title{
          color: black;
          font-weight: bold;
          font-size: 16px;
      }
      
      .product-detail-right .vn-model {
          float: left;
          color: #a8a8a8;
          font-size: 13px;
      }
      
      .product-detail-right .vn-model .title {
          float: left;          
      }
      
      .product-detail-right .vn-model .id {
          float: left;
      }
      
      .product-detail-right .vn-hang {
          color: #a8a8a8;
          font-size: 13px;
      
          float: left;
}
      
      .product-detail-right .vn-hang .title {
          float: left;
      }
      
      .product-detail-right .vn-hang .id {
          float: left;
      }
      
      .price-tag {
          padding-top: 15px;
          font-size: 14px;
      }
      
      .price-tag .price{
          float: left;          
          line-height: 1.42857143;
          font-size: 14px;
      
          color:  #a8a8a8;
}
      
      .price-tag .size{
          float: left;
          font-size: 14px;
          font-weight: bold;
      }
      
      .price-tag .off{
          float: left;
          font-size: 14px;
          color: #C80815;
      }
      
      .price-tag .state{
          float: left;
          font-size: 14px;
          font-weight: bold;
          color: black;
      }
            
      
      .vn-product-detail {
          font-weight: 13px;
      }
      
      .order-online-button{
          width: 110%;
          height: 34px;
          background: #3C62B5;
          color: white;
          font-size: 13px;
          font-weight: bold;
          padding: 0px;
      }
      
      .order-phone-button{
          width: 100%;
          height: 34px;
          font-size: 13px;
          font-weight: bold;
          padding: 0px;
      }
      
      .dac-diem {
          padding-bottom: 0px;
      }
      
      .ps {
          color: black;
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 10px;
      
          padding-top: 15px;
}
      
      .product-detail-shop {
          text-decoration: none;
      }
      
      .product-detail-shop:hover {
          text-decoration: none;
      }
      /* Limit */
      
      #bigPic{	
        width: 100%;
        height: 220px;
	padding:1px;	
	background-color:#FFF;
	margin-bottom:10px;        
        }
        
        #bigPic img{
            max-width: 100%;
            height: 216px;
            margin-right: auto;
            margin-left: auto;
            width: 92.5%;
        }        
        #bigPic img{
                position:absolute;                                              
                display:none;                
        }
        ul#thumbs li.active{
                border:2px solid #000;	
                background:#fff;
                padding:2px;
        }
        ul#thumbs, ul#thumbs li{
                margin:0;
                padding:0;
                list-style:none;
        }

        ul#thumbs li{
                float:left;
                margin-right: 5px;
                margin-bottom: 5px;
                border:1px solid #CCC;	
                padding:3px;
                cursor:pointer;
        }
        ul#thumbs img{
                float:left;
                width: 75px;
                height: 50px;
                line-height:80px;
                overflow:hidden;
                position:relative;
                z-index:1;		
        }
        
        .vn-faqs-info
        {
            display: none;
        }        
        /* limit */
        
        /* pupup */
        
        .vn-modal-title {
            color: black;
            font-weight: bold;
            font-size: 18px;
        }
        
        .vn-sanpham-box-modal
        {
            width: 100%;
            height: 200px;
            margin-bottom: 15px;
            border: 2px solid #ebebeb;
        }
        
        .vn-nhanvien-box-modal
        {
            width: 100%;
            height: 300px;
            margin-bottom: 15px;            
        }
        
        .vn-modal1-title {
            border-bottom: 2px solid #a8a8a8;
            font-weight: bold;
        
            font-size: 18px;
            margin-left: 15px;
            padding-bottom: 14px;
}
        /* pupup */
        
        /* gioi thieu */
        .size-gioithieu{
            height: 450px;
            position:relative;
        }
        
        .vn-gioithieu-box {            
            width: 450px;
            height: 450px; 
            margin: auto;
            position:absolute;
            top:0; 
            left:0; 
            right:0; 
            bottom:0;
        }
        
        .size-gioithieu .title-center {
            /* font-weight: bold; */
            font-size: 25px;
            margin-top: 80px;
            padding-bottom: 15px;
            border-bottom: 2px solid #CCC;
            text-align: center;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 25px;
}
        
        .size-gioithieu .option-text {
            text-align: center;
            font-size: 14px;
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
        
        .vn-gioithieu-box1 {            
            width: 100%;
            height: 450px; 
            margin: auto;
            position:absolute;
            top:0; 
            left:0; 
            right:0; 
            bottom:0;
        }
        /* gioi thieu */
        .edit-slider-768{
            width: 384px;
        }
        
        /* LIEN HE*/
        
        /* begin left*/
        .vn-lienhe-left {
            margin-bottom: 20px;
        }
        
        .vn-lienhe-left .title {
            margin-top: -10px;
        }
        
        .vn-lienhe-left .info {
            margin-bottom: 25px;        
            margin-top: 15px;
        }
        
        .vn-lienhe-left .vn-lienhe-border {
            margin-top: 30px;
            margin-bottom: 25px;
            border-bottom: 1px solid #a8a8a8;
        }
        /* end left*/
        
        /* begin right */
        .vn-lienhe-right ul {
            list-style-type: none;
        }
        
        .vn-lienhe-right ul li{
            margin-bottom: 10px;
        }        
        
        .sub-menu
        {
            display: none;
            padding-left: 20px;
        }   
        
        .vn-menu-list-a
        {
            color: #4C4A4A;
        }
        
        .vn-menu-list-a:hover
        {
            text-decoration: none;
        }       
        
        .vn-menu-list-a:focus
        {
            color: #4C4A4A;
            font-weight: bold;
            text-decoration: none;
        }
        
        .vn-menu-list-sub-a
        {
            color: #4C4A4A;
        } 
        
        .vn-menu-list-sub-a:hover
        {
            text-decoration: none;
        }       
        
        .vn-menu-list-sub-a:focus
        {
            color: #4C4A4A;
            font-weight: bold;
            text-decoration: none;
        }
        
        .edit-font-size
        {
            font-weight: 13px;
        }
        
        .edit-size-sanpham-popup
        {
            height: 145px;
        }
        
        .vn-popup-slide-sanpham
        {            
            height: 480px;            
        }
        /* end right */
        .vn-modal-header
        {
            margin-left: 25px;
            margin-right: 17px;
            padding-top: 10px;
            margin-bottom: 18px;
        }
        .vn-index-a
        {
            padding-left: 10px;
            padding-right: 0px;
        }
        
        .vn-index-b
        {
            padding-left: 7px;
            padding-right: 3px;
        }
        
        .vn-chitiet-922
        {
            padding-left: 30px;
        }
        .vn-modal-a{
            padding-bottom: 0px;
        }
        .mau-gia
        {
            color: #4C4A4A;
        }
        .mau-gia-km
        {
            color: #FF9800;
            font-weight: bold;
        }
        .mau-gia-ban-dau
        {
            color: rgba(131, 131, 132, 0.48);
        }
        .vnc-khoang-cach
        {
            margin-top: 15px;
        }
        
        .vnc-footer-edit1
        {
            margin-top: 0px;
        }
        
        .font-chu-giakm
        {
            font-weight: bold;
        }
        
        .chitiet-breadcrumb
        {
            margin-bottom: 20px;
        }
        
        .imgStyle
        {
            height: 100px;
            width: 100px;
            border: 1px solid #CCC;
            padding: 3px;
            margin-right: 5px;
            margin-bottom: 5px;
        }
        .test
        {
            height:304px;
            width:100%;
            border: 1px solid #CCC;
            margin-bottom: 50px;
        }  
}
